@import './style.css';

$base-color: #033039;
$primary-color: #033039;
$background-color: #E9F3F5;

$base-font: "HKGrotesk", "Helvetica", "Arial";

@font-face {
  font-family: "HKGrotesk";
  src: url("../public/fonts/hkgroteskbold.woff");
  font-weight: bold;
  }

  @font-face {
  font-family: "HKGrotesk";
  src: url("../public/fonts/hkgrotesklight.woff");
  font-weight: light;
  }

  @font-face {
  font-family: "HKGrotesk";
  src: url("../public/fonts/hkgroteskregular.woff");
  font-weight: regular;
  }
  
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font;
  color: $base-color;
}

a {
  color: $base-color;
}

.navbar {
  background-color: white;
}


.face {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 15px 25px -20px rgba(0,0,0,.8);
  margin: 15px 15px;
  transition: transform .2s;
}

.face:hover {
  transform: scale(1.1);
  z-index: 2;

}
.face img {
  width: 50%;
  pointer-events: none;
}

.face .video {
  position: absolute;
  left: 0;
  width: 50%;
  z-index: 1;
  pointer-events: none;
}
.neuron {
  transition: .3s;
  z-index: 0;
}
.neuron.active {
  transform: scale(1.2);
  z-index: 2;
}

/* Small devices (landscape phones, 576px and up) */
@include media-breakpoint-down(sm) {
}

/* Medium devices (tablets, 768px and up) */
@include media-breakpoint-down(md) {

}


/* Large devices (desktops, 992px and up) */
@include media-breakpoint-down(lg) {}

/* Extra large devices (large desktops, 1200px and up) */
@include media-breakpoint-down(xl) {}

/* Small devices (landscape phones, 576px and up) */
@include media-breakpoint-up(sm) {}

/* Medium devices (tablets, 768px and up) */
@include media-breakpoint-up(md) {}

/* Large devices (desktops, 992px and up) */
@include media-breakpoint-up(lg) {}

/* Extra large devices (large desktops, 1200px and up) */
@include media-breakpoint-up(xl) {}
